nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(248, 248, 248);
  font-family: montserrat;
  letter-spacing: 0.5px;
  position: sticky;
  flex-wrap: wrap;
  top: 0px;
  z-index: 5;
}
.nlinks {
  display: flex;
  width: 25%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nlinks a {
  text-decoration: none;
  font-weight: 400;
  color: grey;
}
.nlinks li {
  list-style: none;
}
nav ul li a:hover {
  color: #00b39b;
}
nav ul li ul {
  display: block;
  position: absolute;
  visibility: hidden;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgb(107, 107, 107);
  background: white;
  left: 70%;
}

nav ul li:hover ul {
  visibility: visible;
}
nav ul li ul li:hover {
  background: rgb(243, 243, 243);
}
nav ul li ul li {
  padding: 10px;
}

.star {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}
.star div {
  margin: 10px;
  padding: 30px;
}
.top-text {
  display: flex;
  justify-content: center;
}
.top-text p {
  margin: 10px;
  padding: 10px;
  font-family: montserrat;
  font-size: 35px;
  color: #00b39b;
}
.paragh {
  display: flex;
  color: gray;
  font-family: montserrat;
  font-size: 16px;
  text-align: left;
  align-items: baseline;
  width: auto;
  height: 200px;
  margin: 20px;
}
.fstp {
  margin-left: auto;
  width: 35%;
  letter-spacing: 0.5px;
  line-height: 25px;
  padding-right: 10px;
  max-width: 500px;
}
.sndp {
  margin-right: auto;
  width: 35%;
  letter-spacing: 0.5px;
  line-height: 25px;
  padding-left: 10px;
}
.box {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.greenbox {
  background: #00ccb1;
  width: 400px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin: 10px;
  font-family: montserrat;
  position: relative;
}
.bluebox {
  background: #3d83df;
  width: 400px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin: 10px;
  font-family: montserrat;
  position: relative;
}
.country {
  width: 150px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  font-family: montserrat;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 10px;
}
.fstpc {
  position: relative;
  left: 200px;
}
sndpc {
  position: absolute;
  right: 50%;
}
.weare {
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weh1 {
  width: 33%;
  font-family: montserrat;
  font-weight: 500;
  color: #00ccb1;
}
.listwicon {
  list-style: none;
  width: 80%;
  padding: 20px;
}
.listwicon li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}
.listwicon a {
  text-decoration: none;
  color: #ababab;
  padding: 10px;
  font-family: montserrat;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}
.listwicon a:hover {
  color: #00b39b;
}
.bi-star-fill {
  color: #ababab;
}
.bigsquare {
  background: #d0fcf7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
}
.upperpart {
  text-align: left;
  width: 40%;
  line-height: 1.7;
  padding: 20px;
  font-family: montserrat;
}
.squarestar {
  width: 250px;
  transform: translateY(70px);
}
.grid-container {
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 15px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  text-align: center;
  font-family: montserrat;
  font-size: 0.8125em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.improve {
  max-width: 460px;
  margin: 0 auto 4.1875rem;
  font-size: 0.875em;
  text-align: center;
  padding: 0 20px;
  font-family: montserrat;
  line-height: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: montserrat;
}
.cards2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: montserrat;
}
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card1 {
  padding: 10px;
}
.card2 {
  padding: 10px;
}
.card3 {
  padding: 10px;
}
.card4 {
  padding: 10px;
}
.card5 {
  padding: 10px;
}
.card6 {
  padding: 10px;
}
.btn {
  background-color: #3d83df;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  padding: 10px 10px;
  width: 100px;
  height: 20px;
  border-radius: 7px;
}
.footer {
  text-align: center;
  font-family: montserrat;
  color: #ababab;
  font-size: 11px;
  margin-top: 30px;
}
